/*Grillas desktop*/
.contenedorWeb {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 200px auto;
  grid-template-areas: "nav main";
}

.contenedorPrincipal {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 200px;
  grid-template-areas: "principal principal principal busqueda" "secundario secundario secundario busqueda";
}

/*Fuentes*/
@font-face {
  font-family: "fuente1";
  src: url(../assets/fonts/sf-compact-display-medium.otf);
}

@font-face {
  font-family: "fuente2";
  src: url(../assets/fonts/sf-compact-display-thin.otf);
}

/*Estilos Main*/
.contenidoPrincipal {
  grid-area: main;
  width: 100%;
}

/*Peliculas*/
.peliculasPrincipales {
  grid-area: principal;
  height: 360px;
  width: 100%;
}

.peliculasPrincipales h2 {
  font-family: "fuente1";
  font-size: 20px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.peliculasPrincipales .contenedorPeliculas {
  display: flex;
  justify-content: space-around;
}

.peliculasPrincipales .contenedorPeliculas .primeraPelicula {
  background-image: url(../assets/img/peliculas/starwars.jpg);
  height: 300px;
  width: 450px;
  border-radius: 25px;
}

.peliculasPrincipales .contenedorPeliculas .segundaPelicula {
  background-image: url(../assets/img/peliculas/elirlandes.jpg);
  height: 300px;
  width: 350px;
  border-radius: 25px;
}

.peliculasPrincipales .contenedorPeliculas .topPelicula h4 {
  background-color: #ffffff;
  color: #262626;
  font-family: "fuente1";
  width: 30px;
  padding: 5px;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

/*Series*/
.peliculasSecundarias {
  grid-area: secundario;
  height: 300px;
  width: 100%;
}

.peliculasSecundarias h2 {
  font-family: "fuente1";
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.peliculasSecundarias .contenedorSeries {
  display: flex;
  justify-content: space-around;
}

.peliculasSecundarias .primeraSerie {
  background-image: url(../assets/img/series/the-sopranos-wallpaper-preview.jpg);
  height: 225px;
  width: 250px;
  border-radius: 20px;
}

.peliculasSecundarias .segundaSerie {
  background-image: url(../assets/img/series/juegodetronos.jpg);
  height: 225px;
  width: 250px;
  border-radius: 20px;
}

.peliculasSecundarias .terceraSerie {
  background-image: url(../assets/img/series/breakingbad.jpg);
  height: 225px;
  width: 250px;
  border-radius: 20px;
}

.peliculasSecundarias .topSerie h4 {
  background-color: #ffffff;
  color: #262626;
  font-family: "fuente1";
  width: 25px;
  padding: 3px;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

/*Top*/
.busqueda {
  grid-area: busqueda;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.busqueda h3 {
  font-family: "fuente1";
  margin-left: 20px;
  text-align: center;
}

.busqueda .contenedorStreaming {
  background-color: #ffffff;
  height: 500px;
  width: 100px;
  border-radius: 30px;
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.busqueda .contenedorStreaming h4 {
  font-family: "fuente1";
}

.busqueda .contenedorStreaming .cajaStreaming {
  background-color: #26262608;
  border-radius: 10px;
}

/*Estilos Nav*/
.navegador {
  grid-area: nav;
  background-color: #ffffff;
  padding: 20px;
  height: 100%;
}

.navegador .navegadorElementos {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-around;
}

.navegador .botonNav {
  background-color: #26262608;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.navegador .botonNav i {
  color: #2626267c;
  margin-right: 10px;
}

.navegador .botonActivo i {
  color: #F2C53D;
}

.navegador .botonActivo a {
  color: #F2C53D;
}

.navegador .logo {
  display: flex;
  justify-content: center;
}

.navegador .logo h1 {
  font-family: "fuente2";
  color: #262626;
  font-size: 30px;
  font-weight: 1500;
}

.navegador .logo h2 {
  font-family: "fuente2";
  color: #F2C53D;
  font-size: 30px;
  font-weight: 1500;
}

.navegador ul li {
  list-style: none;
}

.navegador ul li a {
  font-size: 14px;
  text-decoration: none;
  color: #2626267c;
  font-family: "fuente1";
}

.navegador .misDatos {
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: end;
}

.navegador .misDatos h3 {
  font-family: "fuente1";
  font-size: 13px;
}

.navegador .misDatos h5 {
  font-family: "fuente2";
  font-size: 10px;
}

body {
  background-color: #F2F2F2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*# sourceMappingURL=styles.css.map */