/*Estilos Main*/

.contenidoPrincipal{
    grid-area: main;
    width: 100%;
}
.peliculasPrincipales{
    grid-area: principal;
    height: 360px;
    width: 100%;
    h2{
        font-family: "fuente1";
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
.peliculasSecundarias{
    grid-area: secundario;
    height: 300px;
    width: 100%;
    h2{
        font-family: "fuente1";
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .contenedorSeries{
        display: flex;
        justify-content: space-around;
    }
    .primeraSerie{
        background-color: black;
        height: 200px;
        width: 250px;
    }
    .segundaSerie{
        background-color: rgb(48, 48, 48);
        height: 200px;
        width: 250px;
    }
    .terceraSerie{
        background-color: rgb(90, 90, 90);
        height: 200px;
        width: 250px;
    }

}
.busqueda{
    grid-area: busqueda;
    width: 100%;
    height: 100%;
}
.contenedorPeliculas{
    display: flex;
    justify-content: space-around;
}
.primeraPelicula{
    background-color: black;
    height: 300px;
    width: 450px;
}
.segundaPelicula{
    background-color: bisque;
    height: 300px;
    width: 350px;
}