@import "_grillas";
@import "_fuentes";
@import "_variables";
@import "_main";
@import "_peliculas";
@import "_nav";


body{
    background-color: $colorprimario;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}













