@import "_grillas";
@import "_fuentes";
@import "_variables";
@import "_main";
@import "_peliculas";
@import "_series";
@import "_documentales";
@import "_videojuegos";
@import "_nav";
@import "_responsive";


body{
    background-color: $colorprimario;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}













