*{
    margin: 0;
    padding: 0;
}

/*Grillas desktop*/

.contenedorWeb{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 200px auto;
    grid-template-areas: "nav main";
}
.contenedorPrincipal{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 200px;
    grid-template-areas: "principal principal principal busqueda"
                         "secundario secundario secundario busqueda";
}

/*Estilos Nav*/

.navegador{
    grid-area: nav;
    height: 100%;
}

/*Estilos Main*/

.contenidoPrincipal{
    grid-area: main;
    width: 100%;
}
.peliculasPrincipales{
    grid-area: principal;
    height: 400px;
    width: 100%;
}
.peliculasSecundarias{
    grid-area: secundario;
    height: 200px;
    width: 100%;
    margin-top: 20px;
}
.busqueda{
    grid-area: busqueda;
    width: 100%;
    height: 100%;
}
